.header-img{
    background-image:url(praveen.jpg);
    height: 80vh;
    width: 50;
}
.header{display:flex;
        flex-direction:row ;
}
 .sub title{
    text-transform: uppercase;
    color: gray;
 }